<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet"
		crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet"
		crossorigin="anonymous">

	<title>Cadastro genero</title>
	
	<link href="../pagina.css" rel="stylesheet">
	<script src="../pagina.js"> </script>
	
</head>

<body>

	<div class="espaco"></div>

	<div class="main">

		<!-- Inicio formulário cadastro -->

		<h3 class="text-center mb-4" style="color: #1a889e;">Cadastrar novo gênero</h3>

		<div class="container d-flex justify-content-center flex-wrap">

			<form method="POST" th:object="${genero}"
				style="width: 600px; background-color:rgb(235, 235, 235); padding:15px;">

				<fieldset>
					<legend>Dados </legend>

					<div class="row g-3  mt-2">
						<div class="form-group col-12">
							<label for="nome" class="form-label">Gênero:</label>
							<input type="text" class="form-control" id="nome" th:field="*{nome}">
						</div>
					</div>
					
						<div class="row g-3  mt-2">
						<div class="form-group col-12">
							<label for="atributo" class="form-label">Atributo:</label>
							<input type="text" class="form-control" id="atributo" th:field="*{atributo}">
						</div>
					</div>

					<div class="col-12 d-flex justify-content-center mt-4">
						<button type="submit" class="btn btn-outline-info me-2"> <i class='bx bx-save'> Cadastrar
							</i></button>

					</div>
				</fieldset>
			</form>
			<!-- Fim formulário cadastro -->

		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>