<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{styles/catalogo.css}">

	<title>Catalogo</title>

</head>

<body>

	    <!-- Nav Bar -->
    	<nav th:replace="~{fragments/_navbar :: navbar}"></nav>

        
        <h2 class="text-center">Biblioteca</h2>
        <h3 class="text-center">Escolha um livro e comece sua aventura</h3>
        
         <div class="container-fluid">
            <div class="row  m-2 d-flex justify-content-center ">
                <div class="card text-center p-0 m-2 border border-info "  th:each="livro : ${livro}" style="width: 12rem; height:15rem;">
                            <h4 class="card-title mt-5"  style="color:blue;" th:text="${livro.titulo}"></h4>
                            <p class="card-text" th:text="${livro.autor}"></p>
                            
                            <a  th:href="@{/catalogo/{id} (id=${livro.id})}" value="$livro.id" class="btn btn-secondary btn-sm">Ler</a>
                           
                                 </div>
                                         
                              
                    
                </div>
            </div>
        </div>  

        
        
        
        
    <!-- footer com formas de pagamentos e desenvolvido-->
    <footer th:replace="~{fragments/_footer :: footer}"></footer>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>

</body>

</html>