<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{styles/dashboard.css}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-brand">
            <h3><img class="img-logo" src="img/recode_pro-logo-1.svg" alt="Logo Recode Pro"> Recode Pro</h3>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active"><span class="las la-user"></span>
                    <span>Usuarios</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-hand-paper"></span>
                    <span>Permissões</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-book"></span>
                    <span>Livros</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-igloo"></span>
                    <span>Generos</span></a>
                </li>
                <li>
                    <a href=""><span class="las la-question-circle"></span>
                    <span>Perguntas</span></a>
                </li>
                
                                
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h1>
                <label for="">
                    <span class="las la-bars"></span>
                </label>
                <!-- $title page-->
                Dashboard
            </h1>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Digite aqui">
            </div>
            <div class="user-wrapper">
                <img src="img/perfil-30.jpeg" alt="" width="30xp" height="30px">
                <div>
                    <h4>user name account</h4>
                    <small>permission</small>
                </div>
            </div>
            
            
            
        </header>
        <main>
            <!-- Codigo de cada pagina-->
            <p>Conteudo carregado via thymeleaf</p>
        </main>
    </div>




</body>
</html>