<!DOCTYPE html>
<html th:replace="~{dashboard :: dashboard (~{::title}, ~{::main}, _)}">
<head>
	<title>Cadastro genero</title>
</head>
<body>

	<main>
		<div class="row">
				<div class="container d-flex justify-content-center flex-wrap">
					<form method="POST" th:object="${livro}" enctype="multipart/form-data">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="titulo" class="form-label">Título:</label>
									<input type="text" class="form-control" id="titulo" th:field="*{titulo}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="autor" class="form-label">Autor:</label>
									<input type="text" class="form-control" id="autor" th:field="*{autor}">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="capa">Capa do livro</label>
									<input type="file" class="form-control" id="capa" name="fileCapa">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="resumo">Resumo do livro</label>
							   		<textarea class="form-control" id="resumo" rows="3"  th:field="*{resumo}"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="form-label">Genero</label>
							<select th:field="*{genero}" class="form-control">
								<option th:each="genero : ${genero}" th:text="${genero.nome}" th:value="${genero.id}">
								</option>
							</select>
								</div>
							</div>
						</div>
						<div class="col-12 d-flex justify-content-center mt-4">
							<button type="submit" class="btn btn-outline-info me-2"> 
							<i class='bx bx-save'> Cadastrar</i>
							</button>

						</div>
					</form>
				</div>
	</main>
</body>

</html>