body{
	height: 90vh;
}

.banner{
	height: 38%;
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
}

.texto{
	margin-top:50px;
	font-size: 40px;
	color: rgb(108, 2, 61);
}

.livro{
	display:flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin:20px;
	border: 3px solid rgb(72, 87, 111);
	background-color: rgb(253, 248, 242);
	width: 12rem;
	height:15rem;
	
}

.titulo{
	font-size: 22px;
	color: rgb(72, 87, 111);
	background-color:rgb(255, 240, 221); 
	
}

.autor{
	font-size: 18px;
	color: rgb(72, 87, 111);
	background-color:rgb(255, 240, 221);
}

.genero{
	font-size: 14px;
	color: #daa520;

}
.btn{	
	width: 80px;
	height:40px;
	
	
}