.project-name{
	color:#000;
	text-align: center;
	padding-top: 1rem;
}
.project-name h2{
	color:#000;
}
.apresentacao{
	display: flex;
	margin-top: 2rem;
}
.apresentacao-video{
	margin: auto;
	justify-content:center;
	align-items: center;
}